<h1>Editing Destination</h1>

<%= render 'form', destination: @destination %>

<%= link_to 'Show', destinations.destination_path(@destination) %> |
<%= link_to 'Back', destinations.destinations_path %>
